#searchContainer {
  grid-area: content-start / content-center / span 1 / span 1;
  display: grid;
  grid-template: 1fr / 1fr 5fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-gap: 0.8rem;
  max-width: 25rem;
}

#searchInputContainer {
  grid-area: 1 / 2 / span 1 / span 1;
  width: 100%;
}

#inputWord {
  grid-area: 1 / 2 / span 1 / span 1;
  width: 100%;
}

#saveBtn {
  grid-area: 1 / 1 / span 1 / span 1;
  opacity: 0.3;
  width: 2.24rem;
}

#saveBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}
#saveBtn:active {
  cursor: pointer;
  width: 2.5rem;
  opacity: 1;
}

#searchImg {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 4rem;
}

footer {
  grid-area: content-end / content-center / span 1 / span 1;
}
