html {
  font-size: 30px;
}

/* hebrew */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfpcuPP9g.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfqMuPP9g.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#wordIndicator {
  display: flex;
  flex-wrap: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#play-word {
  width: 6.25rem;
  transition: 0.2s;
}

#play-word:hover {
  cursor: pointer;
}

#text {
  filter: blur(8px);
  width: 0;
  box-sizing: border-box;
  transition: 0.1s;
  font-size: 1.5rem;
  white-space: nowrap;
}

#bracket {
  text-align: center;
  font-size: 5rem;
  opacity: 0;
  margin-left: 0.5rem;
  color: #8898A6;
  font-family: 'Varela Round', sans-serif;
  z-index: 4;
  transition:ease-in-out 0.2s;
}

.inputContainer {
  display: inline-grid;
  grid-template: 1.875rem / repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  height: 3.125rem;
  border-radius: 3.125rem;
  padding: 0.625rem;
  grid-gap: 0.3125rem;
  background-color: #f9a374;
}

.input,
#inputValue {
  font-family: Arial;
  height: 1.875rem;
  font-size: 1.5625rem;
  background-color: #f9a374;
  color: white;
  border: 0;
}

.imgBtn {
  transition: ease-in 0.2s;
}

.imgBtn:active {
  transition: ease-out 0.1s;
}

::placeholder {
  font-style: oblique;
  color: white;
  font-weight: 200;
}

#spellContainer {
  width: 25rem;
}

#checkBtn {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 1.875rem;
  opacity: 0.25;
}

#checkBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

#checkBtn:active {
  opacity: 1;
  width: 2rem;
}

#inputValue {
  display: none;
}

#inputSpelling,
#inputValue {
  grid-area: 1 / 2 / span 1 / span 1;
  width: 18.75rem;
}

#inputValue:hover {
  cursor: text;
}

#revealWord {
  grid-area: 1 / 3 / span 1 / span 1;
  opacity: 0; /* Will be invisible, and when a work is wrong, it will slowly appear */
  width: 4.375rem;
  margin: -1.25rem;
}

#revealWord:hover {
  cursor: pointer;
  opacity: 0.8;
}