#searchContainer {
  grid-area: content-start / content-center / span 1 / span 1;
  display: grid;
  grid-template: 1fr / 1fr 5fr;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-gap: 0.8rem;
  max-width: 25rem;
}

#searchInputContainer {
  grid-area: 1 / 2 / span 1 / span 1;
  width: 100%;
}

#inputWord {
  grid-area: 1 / 2 / span 1 / span 1;
  width: 100%;
}

#saveBtn {
  grid-area: 1 / 1 / span 1 / span 1;
  opacity: 0.3;
  width: 2.24rem;
}

#saveBtn:hover {
  cursor: pointer;
  opacity: 0.6;
}
#saveBtn:active {
  cursor: pointer;
  width: 2.5rem;
  opacity: 1;
}

#searchImg {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 4rem;
}

#storageList {
  height: 10rem;
}

footer {
  grid-area: content-end / content-center / span 1 / span 1;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

#staticBtn {
  height: 0.25rem;
  background-color: black;
  margin-top: 8px;
  width: 1.5rem;
  border-radius: 1rem;
  border: 0;
}

#staticBtn:hover {
  cursor: pointer;
}

#storageInterface {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#listToggle {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 0.8rem;
  /* border: 1px solid red; */
  width: 100%;
}

#listToggle:hover {
  cursor: pointer;
}

#removeWord {
  height: 1rem;
  width: 2.5rem;
  background-color: white;
  border-radius: 0.3rem;
  border: 1px black solid;
}

#footerContent {
  width: 25rem;
  height: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: #919191;
  overflow-y: scroll;
  padding: 0 18px;
}

section {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.header,
.wordsContaner {
  font-family: sans-serif;
}

.header {
  margin-left: 7px;
}

.word {
  transition: ease-out 0.2s;
  padding: 1px 5px;
  border-radius: 5px;
}

.word:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(117, 117, 117);
}

.word:active {
  border-radius: 15px;
}

.wordsContaner {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

@media (max-width: 627px) {
  #footerContent {
    width: 100%;
  }
}
