.shake {
  transition-timing-function: shake cubic-bezier(0.6, -0.28, 0.74, 0.05);
  animation: shake ease-in-out 0.3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.highlight {
  border-radius: 7px;
  background-color: rgb(148, 148, 148);
}

.highlightCorrect {
  border-radius: 7px;
  padding: 3px;
  margin: 0 1px;
  background-color: #7ff974;
}

.highlightWrong {
  border-radius: 7px;
  padding: 3px;
  margin: 0 1px;
  background-color: #f97474;
}

.disappear {
  display: none;
}

@keyframes remove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.remove {
  position: relative;
}
.remove::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.0825rem;
  background: rgb(255, 46, 46);
  animation-name: remove;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
