.highlight {
  background-color: rgb(83, 83, 83);
}

.highlightCorrect {
  background-color: rgb(115, 255, 0);
}

.highlightWrong {
  background-color: rgb(255, 0, 0);
}

.disappear {
  display: none;
}

@keyframes remove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.remove {
  position: relative;
}
.remove::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  animation-name: remove;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
