.highlight {
  border-radius: 7px;
  background-color: rgb(148, 148, 148);
}

.highlightCorrect {
  border-radius: 7px;
  padding: 3px;
  margin: 0 1px;
  background-color: rgb(149, 248, 91);
}

.highlightWrong {
  border-radius: 7px;
  padding: 3px;
  margin: 0 1px;
  background-color: rgb(252, 119, 119);
}

.disappear {
  display: none;
}

@keyframes remove {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.remove {
  position: relative;
}
.remove::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background: black;
  animation-name: remove;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
